<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      required
      type="text"
      name="text"
      [(ngModel)]="text"
      placeholder="Add Task"
      #textValidation="ngModel"
    />
    <div
      *ngIf="
        textValidation.invalid &&
        (textValidation.touched || textValidation.dirty)
      "
      class="alert"
    >
      <div *ngIf="textValidation.errors?.['required']">Task is required.</div>
    </div>
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Add Day & Time"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
